@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@1,300&family=Kolker+Brush&family=Stick+No+Bills:wght@600&display=swap');
body {
    font-family: 'Kolker Brush', cursive;
font-size: 4rem;
margin: 0 auto;
margin-left: 2rem;
}